<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="bi bi-google"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a>            
      <hr>
      <p class="copyright">Malik Arbaz © 2022</p>
    </div>
  </footer>
</div>